# Assignment 2 solution hint

## Please fill up all `OOO` you see in this notebook by yourselves. It's totally welcome if you want to give your own solutions.

## 1. Import a few tools we need

In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model, metrics, model_selection

## 2. Play with the data

### 2.1 read the data by pandas

In [3]:
assignment_origin = pd.read_csv('assignment2.csv')

In [4]:
# split features into groups
target = ['price']
features_numerical = ['length','width','height']
features_category = ['make','drive-wheels']

assignment = assignment_origin[ target + features_numerical + features_category]

In [8]:
assignment

     price  length  width  height         make drive-wheels
0    16500   168.8   64.1    48.8  alfa-romero          rwd
1    16500   171.2   65.5    52.4  alfa-romero          rwd
2    13950   176.6   66.2    54.3         audi          fwd
3    17450   176.6   66.4    54.3         audi          4wd
4    15250   177.3   66.3    53.1         audi          fwd
..     ...     ...    ...     ...          ...          ...
175  18950   188.8   67.2    57.5        volvo          rwd
176  16845   188.8   68.9    55.5        volvo          rwd
177  19045   188.8   68.8    55.5        volvo          rwd
178  21485   188.8   68.9    55.5        volvo          rwd
179  22625   188.8   68.9    55.5        volvo          rwd

[180 rows x 6 columns]

### 2.2 create additional features for Polynomial part

In [5]:
# This function returns a new dataframe,
# which contains all powers of features from 2 to what you like.

def create_poly_feature(df, feature, degree):
    result = pd.DataFrame()
    if feature in df.columns:
        # loop over the degrees:
        for power in range(2,  degree+1): 
            # first we'll give the column a name:
            name = feature + '_power_' + str(power)

            result[name] = df[feature].astype(float) ** power
        return result
    else:
        return print("Please select a feature in this df!")

In [22]:
# create new features
poly_feature_length = create_poly_feature(assignment, 'length' , 2)
poly_feature_height = create_poly_feature(assignment, 'height', 3)

### 2.3 create additional features for Category part

In [23]:
# This function returns a new dataframe,
# the categorical feature will be replaced by its onehot transformation

def onehot_encoder(df, feature):
    result = pd.DataFrame()
    if feature in df.columns:
        result = pd.get_dummies(df, columns=[feature])
        return result
    else:
        return print("Please select a feature in this df!")

In [24]:
# create new features
category_feature_make = onehot_encoder(assignment, 'make')
category_feature_makeANDdrive = onehot_encoder(category_feature_make, 'drive-wheels')

**Try to figure out: what is the difference between the two functions `onehot_encoder()` and `create_poly_feature()`**


Answer: `onehot_encoder()` will return a dataframe with all other features, except a categorical one we manipulate. And this categorical feature will be replaced by its onehot transformation.

### 2.4 concatenate all dataframes together

In [25]:
assignment_processed = pd.concat([category_feature_makeANDdrive,
                                  poly_feature_height,
                                  poly_feature_length],
                                 axis = 1)

### 2.5 split target and features

In [26]:
X = assignment_processed.drop('price',axis=1)
Y = assignment_processed['price']

## 3. create the linear model

In [28]:
model = linear_model.LinearRegression()
model.fit(X,Y)

LinearRegression()

## 4. analysis

In [30]:
# prediction
Y_fit = model.predict(X)

print("square root of mean squared error: $%.2f"
      % np.sqrt(metrics.mean_squared_error(Y, Y_fit)))

# Explained R2 score: 1 is perfect prediction
print('R2 score: %.2f' % metrics.r2_score(Y, Y_fit))

square root of mean squared error: $2392.45
R2 score: 0.91